.formulaire-login{
    display:flex;
    align-items:center;
    justify-content:center;
    width:75%;
    height:100%;
    border-radius:50px;
    margin: auto;
}

.left-img{
    width:25%;
    height:700px;
    background-repeat:no-repeat;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
}

.right-form{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:75%;
    height: 700px;
    background-color: #008489;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
}



.input-container {
    padding-bottom: 1em;
}
.left-inner-addon {
    position: relative;
    display: flex;
}
.left-inner-addon input {
    padding-left: 35px !important;
}
.left-inner-addon i {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}

.form-items{
    display: flex;
    justify-content: space-between;
}

.form-item{
    display: flex;
    flex-direction: column;
}